---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Link from "../components/link.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know Me </H1>

               <p class="text-xl xl:text-2xl text-zinc-400 text-balance">
                    はじめまして、Naoya(<a href="https://x.com/_roru_roru" class="text-zinc-400 underline underline-offset-4 decoration-zinc-500">@_roru_roru</a>)と申します。
               </p>
               <p class="text-lg xl:text-xl text-zinc-500 text-balance">
                    大阪公立大学情報工学科4年生で、主にフロントエンド(Next.js, Astro)とバックエンド(Go)の開発を行っています。
               </p>

              <p class="text-lg xl:text-xl text-zinc-500 text-balance">
                  現在は、<a href="https://affectify.jp/"  class="text-zinc-400 underline underline-offset-4 decoration-zinc-500">株式会社Affectify</a>にてエンジニアとして勤務しています。
                  また、友人と共に<a href="https://miat.jp/"  class="text-zinc-400 underline underline-offset-4 decoration-zinc-500">Mi&T株式会社</a>でシステム開発を行っています。
              </p>

          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Skills</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                   <li>フロントエンド開発: Next.js, Astro, React, Tailwind CSS, TypeScript</li>
                   <li>バックエンド開発: Go, Node.js</li>
                    <li>アプリ開発：Flutter</li>
                   <li>データベース: PostgreSQL, MySQL, MongoDB</li>
                   <li>クラウドサービス: GCP, Cloudflare workers, Vercel, Netlify</li>
                    <li>ML: Python, Tensorflow, Scikit Learn</li>
                   <li>Hobby: <a href="https://youtube.com/shorts/y7LeWHwipS8?si=xGeeYR5AclJZocaN"  class="text-zinc-400 underline underline-offset-4 decoration-zinc-500">Trombone</a></li>
               </ul>
          </div>
     </div>
</InfoLayout>
