---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ExternalLink from "../components/external-link.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between">
          
          <div>
               <H1 >How I can help? </H1>
               <p class="mt-4 md:mt-8 lg:mt-12 text-xl xl:text-2xl text-zinc-400 text-balance">
                   もし連絡を取りたい場合は、以下よりお気軽にご連絡ください。
               </p>

               <div class="mt-6 sm:mt-12 flex flex-col gap-1">

                    <ExternalLink href="https://x.com/_roru_roru">X</ExternalLink>
                    <ExternalLink href="https://www.facebook.com/underration">Facebook</ExternalLink>
                    <ExternalLink href="https://www.instagram.com/_naoya_posaune/">Instagram</ExternalLink>
                    <ExternalLink href="https://github.com/underration/myblogv2">GitHub</ExternalLink>
                    <ExternalLink href="https://qiita.com/underration">Qiita</ExternalLink>
                    <ExternalLink href="https://www.linkedin.com/in/naoya-iwamoto-3415a8315?">LinkedIn</ExternalLink>


               </div>
          </div>

          <div>
               <p class="text-base text-zinc-500"></p>
          </div>
     </div>
</InfoLayout>
