---
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import Navigation from "../components/navigation";
import RootLayout from "../layouts/RootLayout.astro";
import WarpBackground from "../components/warp-background";
import AvailableForWork from "../components/available.astro";
---

<RootLayout>
	<main>
		<div class="group relative w-full min-h-dvh flex items-center justify-center">
			<div class="absolute w-full h-dvh -z-10">
				<WarpBackground
					colors={["#7300ff", "#eba8ff", "#00bfff"]}
					colorBack="#18181b"
					speed={0.6}
					softness={1}
					intensity={1}
					noise={1}
					shape="sphere"
					speed={3}
					scale={1}
					client:load
				/>
			</div>

			<div class="p-4 sm:p-8 absolute w-full h-dvh flex flex-col justify-between z-10">
				<div>
					<H1 size="large"> Naoya <br /> Iwamoto </H1>
				</div>

				<div>
					<div class="mb-2 sm:mb-4 flex items-center justify-between">
						<div class="flex items-center gap-4">
							<Link href="https://calendly.com/kottsz1224/casual-meeting">Book a call</Link>
							<Link href="/projects" variant="secondary">View recent work</Link>
						</div>

						<Navigation client:load>
							<Link href="/blog" variant="secondary">Blog</Link>
							<Link href="/about" variant="secondary">About</Link>
							<Link href="/contact" variant="secondary">Contact</Link>
						</Navigation>
					</div>
				</div>
			</div>
		</div>
	</main>
</RootLayout>
